* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
    color: white;
}

.body-container {
    margin: 20px;
}

.update{
    margin:10px;
}


.todo-container {
    margin: 50px auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        margin-top: 30px;
        margin-bottom: 0px;
        font-size: 30px;
    }

    background-color: #30363E;
    border-radius: 30px;

    input {
        border-radius: 15px;
        width: 100%;
        height: 60px;
        border: none;
        text-align: center;
        color: black;

        &:focus {
            border: none;
            outline: none;
        }
    }

    form {
        width: 90%;
        padding: 0 40px;
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            padding: 10px;
            border: none;
            border-radius: 10px;
            background-color: green;
            margin: 20px;
            width: 100%;
        }
    }
}

.options {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;

    button {
        margin: 10px;
        background-color: #2282F4;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}

.tasks {
    width: 90%;
    margin: 0 40px;
    padding: 40px;
    max-height: 400px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }

}

img {
    width: 20px;
    cursor: pointer;
}

.task {
    background-color: #2282F4;
    padding: 20px;
    border-radius: 20px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img:nth-child(1),
    .complete {
        padding: 4px;
        background-color: #30363E;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        color: white;
        cursor: pointer;
    }

    h4 {
        font-weight: 300;
        font-size: 20px;
        text-wrap: nowrap;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        margin-left:10px;
        width:90%;
    }
}

.change {
    background-color: #607D8B;
}